
.body {
    margin-top: 30px;
    display: flex;
}
.Img {
    width: 500px;
    height: 550px;
    margin-left: 30px;
    box-shadow: 8px;
}
.info{
    margin-left: 30px;
    color: rgb(230, 218, 201);
    font-family: sans-serif;
}
.moviesOfActor{
    margin-left: 30px;
    font-family: sans-serif;
    color: rgb(230, 218, 201);;
}
.movies{
    margin-right: 10px;
}